/Marvin/build/
/Marvin/dist/
/BIFF_SampleApp/
/Marvin/build.xml
/Marvin/nbproject
/Marvin/Dependencies/Enzo*
!/Marvin/Dependencies/Enzo*.jar
/Marvin/release
/*/*/__pycache__/
/*/*/*.pyc
/Minion/minion.pyproj
/Minion/minion.sln
/Minion/minion.v12.suo
/oscar/oscar.pyproj
/oscar/oscar.sln
/oscar/oscar.v12.suo
/Marvin/${store.dir}/

bin/
.gradle
.idea
out
