/* 
Notes:
*/

#default
{
    -fx-background-color:
    -fx-box-border,
     linear-gradient(to bottom, derive(-fx-color,30%) 5%, derive(-fx-color,-17%));
    -fx-background-insets: 0, 1;

}
#test
{
    -fx-background-color: brown;
    -fx-control-inner-background: green;
    -fx-text-box-border: black;
    -fx-accent: yellow;   
}
#red
{
    //-fx-background-image: null;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-control-inner-background: yellow;
    -fx-progress-color:lightsteelblue;
    -fx-accent: red;   
    -fx-padding: 1px; 
    -fx-background-insets: 0; 
}
