/* 
    Document   : controlStyle1
*/
 
#default
{
    -fx-background-color:
        -fx-box-border,
     linear-gradient(to bottom, derive(-fx-color,30%) 5%, derive(-fx-color,-17%));
    -fx-background-insets: 0, 1;

}
#test
{
    -fx-background-color: white;
    -fx-control-inner-background: palegreen;
    -fx-text-box-border: black;
    -fx-accent: brown;   
    -fx-progress-color:yellow;
}
#test1
{
    -fx-background-color: white;
    -fx-control-inner-background: palegreen;
    -fx-text-box-border: black;
    -fx-accent: brown;   
    -fx-progress-color:yellow;
    -fx-accent: orange;
    -fx-background-insets: 0, 1;
    -fx-padding: 2px; 
}
#red
{
    //-fx-background-image: null;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-control-inner-background: yellow;
    -fx-progress-color:lightsteelblue;
    -fx-accent: red;   
    -fx-padding: 1px; 
    -fx-background-insets: 0; 
}
